<web-app>
    <servlet>
        <servlet-name>SessionTracking</servlet-name>
        <servlet-class>com.org.servletexamples.SessionTrack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTracking</servlet-name>
        <url-pattern>/SessionTracking</url-pattern>
    </servlet-mapping>
</web-app>