<web-app>
    <servlet>
        <servlet-name>PageRedirect</servlet-name>
        <servlet-class>com.org.servletexamples.PageRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageRedirect</servlet-name>
        <url-pattern>/PageRedirect</url-pattern>
    </servlet-mapping>
</web-app>