<web-app>
    <servlet>
        <servlet-name>DateHandling</servlet-name>
        <servlet-class>com.org.servletexamples.UseDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateHandling</servlet-name>
        <url-pattern>/DateHandling</url-pattern>
    </servlet-mapping>
</web-app>