<web-app>
    <servlet>
        <servlet-name>EMailSending</servlet-name>
        <servlet-class>com.org.servletexamples.Sender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EMailSending</servlet-name>
        <url-pattern>/EMailSending</url-pattern>
    </servlet-mapping>
</web-app>