<web-app>
  <servlet>
    <servlet-name>HTTPHeaderRequest</servlet-name>
    <servlet-class>com.org.servletexamples.HTTPHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTTPHeaderRequest</servlet-name>
    <url-pattern>/HTTPHeaderRequest</url-pattern>
  </servlet-mapping>
</web-app>