<web-app>
  <servlet>
    <servlet-name>ReadingCheckBoxData</servlet-name>
    <servlet-class>com.org.servletexamples.CheckBoxData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadingCheckBoxData</servlet-name>
    <url-pattern>/ReadingCheckBoxData</url-pattern>
  </servlet-mapping>
</web-app>