<web-app>
    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>com.org.servletexamples.DatabaseAccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/DatabaseAccess</url-pattern>
    </servlet-mapping>
</web-app>